@import '../../../styles/utils.scss';

.footer {
  background: $oc-lime-4;
  height: 10rem;

  // 내부 내용 가운데 정렬
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .brand {
    // 로고
    color: $oc-orange-8;
    font-size: 2rem;
    font-weight: 600;
  }

}
